Source: boagent
Section: python
Priority: optional
Maintainer: Boavizta <open-source@boavizta.org>
Build-Depends: debhelper-compat (= 13), pybuild-plugin-pyproject, dh-sequence-python3, pkg-config, python3-all-dev, python3-fastapi, python3-pydantic, python3-pydantic-settings, python3-click, python3-pytest
Homepage: https://github.com/boavizta/boagent

Package: boagent
Version: 0.1.1
Architecture: amd64
Depends: python3-fastapi, python3-uvicorn, ${python3:Depends}, ${misc:Depends}
Description: Local API to collect and compute data on used device and running applications to give insight on their environmental impacts.
